[user]
  name = Mikhail Ryanzin
  email = mryanzin@ozon.ru
# signingkey = B58CD53D
[core]
  excludesfile = ~/.gitignore_global
  attributesfile = ~/.gitattributes
  editor = /usr/bin/vim
[diff]
  algorithm = patience
[alias]
  s = status
  d = diff
  a = add .
  ap = add -p
  dc = diff --cached
  pr = pull --rebase
  aa = add --all
  ca = commit --amend -C HEAD
  c  = commit
  m = commit -m
  co = checkout
  cob = checkout -b
  com = checkout master
  nb = !git checkout release && git pull && git checkout -b
  pp = !git pull --rebase && git push
  cp = cherry-pick
  bl = branch --sort=-committerdate 
  pof = push origin --force
  po = push origin -u
  su = !git branch --set-upstream-to=origin/`git symbolic-ref --short HEAD`
  mm = !git checkout master && git pull && git checkout - && git merge master


[merge]
	tool = smerge
[mergetool]
  prompt = false
  keepBackup = false
[mergetool "meld"]
  trustExitCode = true
  cmd = open -W -a Meld --args --auto-merge \"$PWD/$LOCAL\" \"$PWD/$BASE\" \"$PWD/$REMOTE\" --output=\"$PWD/$MERGED\"
[commit]
#  gpgsign = true
  template = ~/.gitmessage
[push]
	default = current
	autoSetupRemote = true
[help]
  autocorrect = 1

[url "ssh://git@gitlab.ozon.ru/"]
	insteadOf = https://gitlab.ozon.ru/
[init]
	templatedir = ~/.git-templates
[branch]
	autosetupmerge = always
[mergetool "smerge"]
	cmd = smerge mergetool \"$BASE\" \"$LOCAL\" \"$REMOTE\" -o \"$MERGED\"
	trustExitCode = true
